#home-page
  %h1 A seamless check-in app for any office
  %ul.nav
    %li
      = link_to '#' do
        = image_tag 'app-store.png'
    %li
      = link_to 'https://play.google.com/store/apps/details?id=mobi.kiwi.kiwi', target: 'blank' do
        = image_tag 'google-play.png'