#home-page
  %h1 A seamless check-in app for any office
  %ul.nav
    %li
      = link_to '#' do
        = image_tag 'app-store.png'
    %li
      = link_to '#' do
        = image_tag 'google-play.png'