%h1 East Agile Checkin App
= select_tag :users, options_from_collection_for_select(@users, :id, :email, @user.try(:id).try(:to_s)), include_blank: 'All'

- if @checkins.present?
  %table#checkin-details
    %thead
      %tr
        %th User name
        %th Checkin at
    %tbody
      - @checkins.each do |checkin|
        %tr
          %td= checkin.user_email
          %td= checkin.created_at.strftime('%d-%m-%y %H:%M:%S')
- else
  %p This user has no checkins
#graph-container